body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(36, 184, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0px;

}
.login-container{
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 280px;
    width: 300px;
    padding-top: 80px;
    margin-top: 80px;
}

.login-container button{
    width: auto;
    height: auto;
    padding: 10px;
    background-color: rgb(218, 245, 13);
    color:white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 18px;

}